body
{
    background-color: darkkhaki;
}
.card {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .card-heading {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .card label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  .card h1, .card h3 {
    color: #333;
    margin-bottom: 15px;
  }
  
  .card input[type="date"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    margin-left: -12px; 
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  
  .card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card button:hover {
    background-color: #0056b3;
  }
  
  .parentBox {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .box {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .red {
    background-color: red;
  }
  
  .blue {
    background-color: blue;
  }
  
  .green {
    background-color: green;
  }
  